In [4]:
## for data
import pandas as pd  #1.1.5
import numpy as np  #1.21.0

## for plotting
import matplotlib.pyplot as plt  #3.3.2
import seaborn as sns  #0.11.1
import folium  #0.14.0
from folium import plugins
import plotly.express as px  #5.1.0

## for simple routing
import osmnx as ox  #1.2.2
import networkx as nx  #3.0

## for advanced routing 
from ortools.constraint_solver import pywrapcp  #9.6
from ortools.constraint_solver import routing_enums_pb2

In [14]:
#importing farm location data
farm_data=pd.read_excel('farm.xlsx')
farm_data1=farm_data[['company','latitude','longitude']]
farm_data1.head()

                                   company  latitude  longitude
0  Htsfarms.ng - Agricultural online store  9.086603   7.443278

In [15]:
#importing store location data
store_data=pd.read_excel('drops.xlsx')
store_data1=store_data[['store','latitude','longitude']]
store_data1.head()

  store  latitude  longitude
0     a  9.093711   7.443353
1     b  9.103119   7.442881
2     c  9.105365   7.451936
3     d  9.073794   7.432667
4     e  9.069217   7.465369